html
	head
	link(rel="stylesheet" href="/css/pure-min.css")
	link(rel="stylesheet" href="/css/landing.css")
	link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

	body
		div(class="header")
			div(class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed")
				a(class="pure-menu-heading" href="/") Chrome Bookmarks
				ul
					li 
						a(href="#about") About
					li 
						a(href="/auth/google") Sign in with Google
			div(class="splash-container")
				div(class="splash")
					h1(class="splash-head") Chrome Bookmarks
					p(class="splash-subhead") Save your chrome bookmarks and view them from anywhere
			div(class="content-wrapper")
				div(class="content")
					h2(class="content-head is-center") Sync your chrome bookmarks and view them as webpage anywhere
					div(class="pure-g")
						div(class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4")
							h3(class="content-subhead")  
								i(class="fa fa-bookmark")
								span Chrome Extension
							p Install a chrome extension that will sync and backup your bookmarks

						div(class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4")
							h3(class="content-subhead")  
								i(class="fa fa-cloud")
								span Your own bookmarks webpage
							p View your bookmarks as a webpage anywhere

						div(class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4")
							h3(class="content-subhead")  
								i(class="fa fa-google-plus")
								span Sign in with google
							p No need to create another acount, sign in with google

						div(class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4")
							h3(class="content-subhead")  
								i(class="fa fa-plus")
								span Add, remove, move your bookmarks
							p You can add, move and remove your chrome bookmarks from anywhere
				div(class="content" id="about")
					h2(class="content-head is-center") How does it work?
					div(class="l-box-lrg pure-u-1 pure-u-med-1-4")
					div(class="l-box-lrg pure-u-1 pure-u-med-1-2") Sync and backup your chrome bookmarks with a simple extension and view them on your own webpage anywhere. There is no need to create a new account, you can sign in with Google.
					div(class="l-box-lrg pure-u-1 pure-u-med-1-4")