extends layout

block content
	div(class="header")
		h1 Settings

	div(class="content")
		h2 Your api key:
		h1 #{user._id}
		p Paste this key into the chrome extension input and your bookmarks will sync and show on the home page.
